
#profile_document{
	display:flex;
	gap:40px;
}
img{
	height:100px;
	width:100px;
}
.skil{
	margin-top:20px;
	font-weight:bold;
}
#about_me{
	font-size:xx-large;
/* 	 text-decoration: underline  blue 2px; */
}
#though{
		 text-decoration: none;
}